table {
	width: 100%;
	border-collapse: collapse;
	text-align: left;
}

table * {
	border: 1px solid #000;
}

input {
    text-align: center;
}

table {
    text-align: center;
}

body {
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 50px;
}

.searchcontact {
    text-align: right;
}

tr:nth-child(odd) {
	background-color: #f2f2f2;
}

.hidden {
	display: none;
}