* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    font-size: 20px;
    text-align: center;
    text-decoration: solid;
}

.container {
    margin: 50px;
    text-align: center;
}

.timer-input {
    background: rgb(4, 125, 224);
    margin: auto;
    width: 400px;
    height: 150px;
    border-radius: 10px;
    border: 2px dotted red;
}

#start {
    margin: auto;
    color: rgb(4, 125, 224);
    background-color: #fff;
    text-align: center;
    font-size: 15px;
    border-radius: 10px;
    border: solid 2px black;
    cursor: pointer;

}

input {
    width: 80px;
    height: 60px;
    font-size: 20px;
    text-align: center;
    margin: 10px auto;
}
#block {
    display: inline-block;
}

.countdowntimer {
    margin-top: 25px;
    font-size: 30px;
}

.countdowntimer {
    background: rgb(192, 8, 238);
    margin: auto;
    margin-top: 30px ;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: 2px dotted black;
}